.vscode/**
.vscode-test/**
.codio/**
.eslintignore
node_modules
out/src
out/test
src/
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
deploy*.*
*.vsix
vscode.md
zip.md