.vscode/**
.vscode-test/**
.codio/**
.eslintignore
# node_modules
out/test/**
out/src
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
deploy*.*
*.vsix
vscode.md
